body{
    background-color: black;
    color:white;
    text-align: center;
}

#conteneurcarte{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

#conteneurperso{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.perso{
    background-color: darkgreen;
    width:150px;
    height:200px;
    margin:1px;
    border: white 1px solid;
    border-radius: 20px;
    position: relative;
    font-size: 20px;
}

.ally{
    z-index:40;
}

.carte{
    background-color: darkslateblue;
    width:170px;
    height:295px;
    margin:1px;
    z-index: 30;
    border: white 1px solid;
    border-radius: 20px;
}

#persoetde5{
    background-color: darkred;
    background-color: darkslategray;
}

.de {
    font-size: 60px;
}

#perso5{
    font-size: 50px;
}

.intro{
    font-size:25px;
    left:0;
    white-space:nowrap;
}

.nom{
    font-size: 24px;
}

.titrecarte{
    white-space:nowrap;
}

#poing{
    background-color: black;
    font-size: 50px;
    width:80px;
    height:200px;
    margin:1px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
}
#messagecentral{
    font-size: 30px;
    position:relative;
    background-color:darksalmon;
    color:black;
    border: black 1px solid;
    border-radius:20px;
    width:90%;
    left:5%;
}

.hidden{
    color:transparent;
}

.carteextra, #extratext{
    position:absolute;
    background-color:transparent;
    visibility: hidden;
    color:white;
    z-index:100;
}
#carteextra7{
    left:10%;
    top:25%;
}
#carteextra8{
    left:27%;
    top:25%;
}
#carteextra9{
    left:44%;
    top:25%;
}
#carteextra10{
    left:61%;
    top:25%;
}
#carteextra11{
    left:78%;
    top:25%;
}
#extratext{
    font-size: 50px;
    color:white;
    left:20%;
    top:50px;
    background-color:darkslategray;
    border: white 1px solid;
    border-radius:20px;
    padding:10px;
}

#grayscreen{
    position:absolute;
    /*visibility: hidden;*/
    left:0px;
    top:0px;
    width:100%;
    height: 100%; /*changed in top of js*/
    z-index:50;
    visibility: hidden;
    background-color:#80808090;
}

#skip{
    background-color:darkslategrey;
    border: white 1px solid;
    border-radius:3px;
    font-size: 10px;
    width:40px;
    height:12px;
}

#hp5, #atkmel5{
    font-size:27px;
}

#playagain{
    background-color:darkred;
    border: white 1px solid;
    border-radius:50px;
    font-size: 30px;
    width:250px;
    height:100px;
    visibility: hidden;
    top:60%;
    left:42%;
    z-index:50;
    position:absolute;
}

#skipcard{
    border: white 1px solid;
    border-radius:10px;
    font-size: 20px;
    width:170px;
    height:25px;
    top:70%;
    position:absolute;
    z-index: 60;
    visibility: hidden;
}


#parameters{
    background-color:darkorchid;
    border: white 1px solid;
    border-radius:10px;
    font-size: 20px;
    width:30px;
    height:30px;
    right:1%;
    top:1%;
    position:absolute;
    visibility: visible;
    z-index: 110;
}

#parameters:hover, #closeparameters:hover{
    -webkit-transform:scale(2); /* Safari and Chrome */
    -moz-transform:scale(2); /* Firefox */
    -ms-transform:scale(2); /* IE 9 */
    -o-transform:scale(2); /* Opera */
    transform:scale(2);
    right:2%;
    top:2%;
}

.choiceparameter{
    background-color:darkorchid;
    border: white 1px solid;
    border-radius:10px;
    width:300px;
    height:20px;
    left:200px;
    position:absolute;
    visibility: hidden;
    z-index:200;
}

#closeparameters{
    background-color: darkred;
    border: white 1px solid;
    border-radius:10px;
    font-size: 20px;
    width:30px;
    height:30px;
    position:absolute;
    z-index:200;
    right:1%;
    top:1%;
    visibility: hidden;
}

#sets{
    height:55px;
}
/*
.perso:hover {
    -webkit-transform:scale(1); // Safari and Chrome
    -moz-transform:scale(1); // Firefox
    -ms-transform:scale(1); // IE 9
    -o-transform:scale(1); // Opera
    transform:scale(1);
}*/

#rules{
    visibility: hidden;
}

#displayrules{
    background-color:darkred;
    border: white 1px solid;
    border-radius:10px;
    font-size: 80px;
    width:500px;
    height:100px;
    bottom: 1%;
    text-align:center;
    position:absolute;
    z-index: 60;
}

#containerrules{
    display: flex;
    justify-content: center;
}

img{
    height:120px;
    width:164px;
    border-radius: 50px;
    border: solid black 3px;
    background-color:blue;
}

#iconparameter{
    width:30px;
    height:30px;
    border-radius: 50px;
    border: none;
    background-color:darkorchid;
}