body{
    background-color: black;
    color:white;
    text-align: center;
}

#conteneurcarte{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

#conteneurperso{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.perso{
    background-color: darkgreen;
    width:110px;
    height:200px;
    margin:1px;
    border: white 1px solid;
    border-radius: 20px;
}

.carte{
    background-color: darkslateblue;
    width:170px;
    height:220px;
    margin:1px;
    z-index: 30;
    border: white 1px solid;
    border-radius: 20px;
}

#persoetde5{
    background-color: darkred;
}

.de, .intro, #perso5{
    font-size: 60px;
}

.nom{
    text-decoration: underline;
}

.titrecarte{
    text-decoration: underline;
    font-size:20px;
}

#poing{
    background-color: black;
    font-size: 50px;
    width:80px;
    height:200px;
    margin:1px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
}
#messagecentral{
    font-size: 30px;
    position:relative;
    background-color:darksalmon;
    color:black;
    border: black 1px solid;
    border-radius:20px;
}

.hidden{
    color:transparent;
}

.carteextra, #extratext{
    position:absolute;
    background-color:transparent;
    visibility: hidden;
    color:white;
    z-index:100;
}
#carteextra7{
    left:10%;
    top:25%;
}
#carteextra8{
    left:27%;
    top:25%;
}
#carteextra9{
    left:44%;
    top:25%;
}
#carteextra10{
    left:61%;
    top:25%;
}
#carteextra11{
    left:78%;
    top:25%;
}
#extratext{
    font-size: 50px;
    color:white;
    left:20%;
    top:50px;
    background-color:darkblue;
    border: white 1px solid;
    border-radius:20px;
}

#grayscreen{
    position:absolute;
    /*visibility: hidden;*/
    left:0px;
    top:0px;
    width:100%;
    height: 100%; /*changed in top of js*/
    z-index:50;
    visibility: hidden;
    background-color:#808080c0;
}

.deperso{
    position: relative;
    z-index:40;
}

#skip{
    background-color:darkslategrey;
    border: white 1px solid;
    border-radius:3px;
    font-size: 10px;
    width:40px;
    height:12px;
}

#hp5, #atkmel5{
    font-size:27px;
}

#playagain{
    background-color:darkred;
    border: white 1px solid;
    border-radius:50px;
    font-size: 30px;
    width:250px;
    height:100px;
    visibility: hidden;
    top:60%;
    left:42%;
    z-index:50;
    position:absolute;
}

#skipcard{
    background-color:darkred;
    border: white 1px solid;
    border-radius:10px;
    font-size: 20px;
    width:100px;
    height:25px;
    left:42%;
    top:70%;
    position:absolute;
    z-index: 60;
    visibility: hidden;
}

#disablecolors{
    background-color:darkorchid;
    border: white 1px solid;
    border-radius:10px;
    font-size: 20px;
    width:200px;
    height:50px;
    left:42%;
    top:70%;
    position:absolute;
    visibility: hidden;
    top:1100px;
    visibility: visible;
}