*{
    /*border: solid 1px;*/
}
body {
    margin:0;
    padding:0;
    background-color: lightblue;
    background-image:url(entrance.webp);
    background-size: cover;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

#topbanner {
    opacity:0;
    position:fixed;
    top:0;
    z-index:100;
    background-color: black;
    color:darkorange;
    width: 100%;
    display:flex;
    justify-content:space-around;
}
#topbanner p {
    margin-top: 10px;
    margin-top: calc((50px- 1em)/2);
}
#topbanner img {
    width:50px;
    height:50px;
}
header article img {
    width:100px;
    height:100px;
    border: orange solid 2px;
}

header {
    display:flex;
    justify-content:space-around;
    margin:0;
    padding: 30px 0;
}
header div, header article{
    position:relative;
    animation: slideintop ease-out 1.5s 1;
}
header div{
        font-size:25px;
        text-align: center;
        border-bottom:20px;
        background-color: white;
        width:140px;
        height: 35px;
        padding: 5px;
        margin: 1px;
        color:darkorange;
        cursor:pointer;
        border: 3px solid black;
        border-bottom: 0.1px solid darkorange;
        border-radius: 30px 0;
        border-inline-end-width: 10px;
        border-inline-start-width: 10px;
}
header p {
    margin:0;
    padding:0;
}
header article{
    background-color: darkorange;
    border-radius: 0 0 15px 15px;
    display:inline-block;
    position:relative;
    animation: slideinleft ease-out 1s;
}/*
header:first-child div:last-child{
    display:inline-block;
    position:relative;
    animation: slideinright ease-out 2s;
}*/

main {
    background-image:url(background-computer.jpg);
    background-size: cover;
    width:94%;
    text-align: center;
    margin:auto 3%;
    padding: 30px 0
}
main article {
    display:flex;
    justify-content:space-around;
}
main article section {
    margin:20px 10px 0 0;
    position:relative;
    padding:7px;
    width:70%;
    background-color: darkorange;
}
main article section:nth-child(1){
    margin-left:10px;
}
main article:first-child section:nth-child(1){
    animation: slideinleft ease-out 2s;
}
main article:first-child section:nth-child(2){
    animation: slideinright ease-out 2s;
}
main section{
    visibility:hidden;
    border-radius: 10px;
}
main article:first-child section{
    visibility:visible;
}
footer {
    background-color: orange;
    display:inline-block;
    padding:10px;
    margin:10px;
}
@keyframes slideintop {
    from {
        top:-100px;
        opacity:0.2;
    }
    to {
        top: 0px;
        opacity:1;
    }
}
@keyframes slideinleft {
    from {
        left:-100px;
        opacity:0.2;
        rotate:30deg;
    }
    to {
        left: 0px;
        opacity:1;
    }
}
@keyframes slideinright {
    from {
        left:100px;
        opacity:0.2;
        rotate:-30deg;
    }
    to {
        left: 0px;
        opacity:1;
    }
}
  
@keyframes slideinleftwithoutrotate {
    from {
        left:-200px;
        opacity:0.2;
    }
    to {
        left: 0px;
        opacity:1;
    }
}
@keyframes opacityon {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes opacityoff {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

#iframeCV{
    height:400px;
    width:160%;
    background-color: #add8e630;
    max-width:1500px;
    transform: scale(0.5);
    margin-left:-30%;
}

#iframeJeu{
    height:400px;
    width:160%;
    background-color: #add8e630;
    transform: scale(0.5);
    margin-left:-30%;
}


header div:hover {
    animation: slideintop ease-out 1.5s 1, rotation 2s infinite linear;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  main article section:hover, #avatar:hover {
    background-color: orange;
    border-radius: 20px;
  }
#topbanner p:hover {
    color: orange;
    text-decoration: underline;

}










/* Le code ci-dessous vient de mon ancienne manière de coder */

.image{
    width:100px;
    height:100px;
    padding-left: 10px;}
.creationstexte:link{
    padding-left: 15px;
    text-decoration: none;
    color:lightblue;
    background-color:#00000050;}
.creationstexte:visited{
    padding-left: 15px;
    text-decoration: none;
    color:lightgreen;
    background-color:#00000050;}
figure{
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:left;
    
    margin:0px;
    margin-left:30px;
    vertical-align: middle;}
.creationTitre{
    text-align:left;
    font-size:30px;

    margin:10px;
    margin-left:30px;
    margin-top:20px;
}
.creationPartie{
    background-color:#add8e630;
}
.icon{
    width:20px;
    height:20px;
    padding-right:10px;
    padding-left:3px;}
    .reversecolor{
        filter: invert();}
/* Le code ci-dessus vient de mon ancienne manière de coder */

#topbanner .icon {
    width:15px;
    height:15px;
}