:root{
    --backgroundColor1: lightgreen;
    --color1:black;
    --backgroundColor2: lightseagreen;
    --color2:white;
    --backgroundColor3: green;
    --color3:white;
    --maxwidth: 1515px;
}
body {
    margin:0;
    padding:0;
    background-color: lightblue;
    background-image:url(entrance.webp);

    background-size: 100% 900px;

    font-size:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h1, h2 {
    text-shadow: #ad651f 1.5px 1.5px 1px;
}

#topbanner {
    opacity:0;
    position:fixed;
    top:0;
    z-index:10000;
    background-color: black;
    color:var(--backgroundColor1);
    color:var(--color1);
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
#topbanner p {
    margin-top: 10px;
    margin-top: calc((50px- 1em)/2);
}
#topbanner img {
    width:50px;
    height:50px;
}
header article img {
    width:100px;
    height:100px;
    border: var(--backgroundColor1) solid 2px;
}
header article:hover img {
    border: var(--backgroundColor2) solid 2px;
}

header {
    display:flex;
    justify-content:space-around;
    margin:0;
    padding: 30px 0;
}
header div, header article{
    position:relative;
    animation: slideintop ease-out 1.5s 1;
}
header div{
        font-size:25px;
        text-align: center;
        border-bottom:20px;
        background-color: white;
        width:140px;
        height: 35px;
        padding: 5px;
        margin: 1px;
        color:var(--backgroundColor1);
        cursor:pointer;
        border: 3px solid black;
        border-bottom: 0.1px solid var(--backgroundColor2);
        border-radius: 30px 0;
        border-inline-end-width: 10px;
        border-inline-start-width: 10px;
}
header p {
    margin:0;
    padding:0;
    color:var(--color2);
}
header article{
    background-color: var(--backgroundColor2);
    border-radius: 0 0 15px 15px;
    display:inline-block;
    position:relative;
    animation: slideinleft ease-out 1s;
}/*
header:first-child div:last-child{
    display:inline-block;
    position:relative;
    animation: slideinright ease-out 2s;
}*/

/* Images main */

main img {
    min-width:150px;
    min-height:150px;
}

main {
    background-image:url(background-computer.jpg);
    background-size:100% 100%;
    width:94%;
    text-align: center;
    margin:auto 3%;
    padding: 30px 0;
}
main article {
    display:flex;
    justify-content:space-around;
}
main article section {
    margin:20px 10px 0 0;
    position:relative;
    padding:7px;
    width:70%;
    background-color: var(--backgroundColor2);
    display: flex;
    color:var(--color2);
}
main article section p, main div {
    display:flex;
    align-items: center;
}
main article section:nth-child(1){
    margin-left:10px;
}
main article:first-child section:nth-child(1){
    animation: slideinleft ease-out 2s;
}
main article:first-child section:nth-child(2){
    animation: slideinright ease-out 2s;
}
main section{
    visibility:hidden;
    border-radius: 10px;
}
main article:first-child section{
    visibility:visible;
}
footer {
    background-color: var(--backgroundColor1);
    display:inline-block;
    padding:30px;
    margin:10px;
    border-radius: 50%;
}
@keyframes slideintop {
    from {
        top:-100px;
        opacity:0.2;
    }
    to {
        top: 0px;
        opacity:1;
    }
}
@keyframes slideinleft {
    from {
        left:-100px;
        opacity:0.2;
        rotate:30deg;
    }
    to {
        left: 0px;
        opacity:1;
    }
}
@keyframes slideinright {
    from {
        left:100px;
        opacity:0.2;
        rotate:-30deg;
    }
    to {
        left: 0px;
        opacity:1;
    }
}
  
@keyframes slideinleftwithoutrotate {
    from {
        left:-200px;
        opacity:0.2;
    }
    to {
        left: 0px;
        opacity:1;
    }
}
@keyframes opacityon {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes opacityoff {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

#iframeCV{
    height:400px;
    width:100%;
    max-width:1500px;
    transform: scale(0.7);
}

#iframeJeu{
    height:400px;
    width:100%;
    transform: scale(0.7);
}


header div:hover {
    animation: slideintop ease-out 1.5s 1, rotation 2s infinite linear;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  main article section:hover, #avatar:hover {
    background-color: var(--backgroundColor1);
    border-radius: 20px;
    color:var(--color1);
  }
#topbanner p:hover {
    color: white;
    text-decoration: underline;

}

#changecolor {
    position:absolute;
    top:10px;
    right:10px;
    z-index:20000;
}
#changecolor div {
    /*height:30px;
    width:30px;*/
    border-radius: 100%;
}

#changecoloraddmore {
    position:absolute;
    top:265px;
    right:10px;
    width:30px;
    height:30px;
    background-color: black;
    color:white;
    border-radius: 100%;
    z-index:20000;
    width:30px;
    height:30px;
    display:flex;
    align-items: center;
    justify-content: center;
}

section {
    margin:0;
    padding:0;
    margin-top:40px;
}

section article {
    margin:0;
    padding:0;
}
section article div {
    margin:0;
    padding:0;
}

section article::before {
    display:block;
    width:200%;
    height:20px;
    background-color:var(--backgroundColor1);
    /*background-color: red;*/
    z-index:110;
    content:"";
    transform: rotate(2.5deg);
    position:relative;
    right:30%;
}

section article div::before {
    background-color: inherit;
    /*background-color: purple;*/
    display:block;
    height:80px;
    width:200%;
    transform: rotate(2.5deg);
    content:"";
    z-index:100;
    position:relative;
    right:30%;
}

section article div {
    background-color: var(--backgroundColor1);
    /*background-color: orange;*/
    position:relative;
    z-index:100;
}
section article div::target-text {
    position:relative;
    z-index:10000;
}

section article div a h1{
    min-width:300px;
    width:30%;
    margin-left:2%;
    position:relative;
    top:-100px;
    background-color: inherit;
    z-index:1000;
    margin:0;
    padding:0;
}

section article div a:visited{
    text-decoration: none;
    color:lightgreen;
    background-color:#00000050;
}
section article div a:link{
    text-decoration: none;
    color:lightblue;
    background-color:#00000050;
}


section article div iframe {
    position:relative;
    top:-110px;
}

section article:first-child div::after {
    display:block;
    background-color: inherit;
    /*background-color: green;*/
    position:absolute;
    content:"";
    height:200px;
    z-index:90;
    width:100%;
    max-width:var(--maxwidth);
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}




@keyframes changecolor {
    from {
        background-color: var(--backgroundColor1);
    }
    to {
        background-color: var(--backgroundColor2);
    }
}




/* Le code ci-dessous vient de mon ancienne manière de coder */

.image{
    width:100px;
    height:100px;
    padding-left: 10px;}
.creationstexte:link{
    padding-left: 15px;
    text-decoration: none;
    color:lightblue;
    background-color:#00000050;}
.creationstexte:visited{
    padding-left: 15px;
    text-decoration: none;
    color:lightgreen;
    background-color:#00000050;}
figure{
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:left;
    
    margin:0px;
    margin-left:30px;
    vertical-align: middle;}
.creationTitre{
    text-align:left;
    font-size:30px;

    margin:10px;
    margin-left:30px;
    margin-top:20px;
}
.creationPartie{
    background-color:#add8e630;
}
.icon{
    width:20px;
    height:20px;
    padding-right:10px;
    padding-left:3px;}
    .reversecolor{
        filter: invert();}
/* Le code ci-dessus vient de mon ancienne manière de coder */

#topbanner .icon {
    width:15px;
    height:15px;
}

.mySwiper, #othersLinks  {
    height:150px;
    position:relative;
    top:-100px;
    z-index:1000 !important;
    background-color: var(--backgroundColor3);
    color: var(--color3);
}
.mySwiper{
    padding-top:50px !important;
}

#othersLinks {
    top:-120px;
    padding:15px;
    border-radius: 100%;
}



/* Formulaire */
section form {
    background-color: lightgreen;
}



/* Responsivité: */
body {
    margin:auto;
    width:var(--maxwidth);
}
html {
    background-image:url(background-nuages.jpg);
    background-size: cover;
}
@media(max-width: 550px) {
    header div{
        font-size:15px;
            border-radius:0 15px;
            border:solid black 2px;
            padding:9px;
            height:20px;
            margin-left: auto;
            margin-right: auto;
    }
}
@media(max-width: 350px) {
   * {
    flex-direction: column;
    align-items: center;
   }

   header div, #topbanner {
    display:none;
   }
}
